/* ------------------------ Common and home ------------------------ */

body {    
    background-color: darkgray;
    font-family: 'Poiret One', cursive;
    margin-bottom: 3%;
}

.navbar {
    font-size: 2rem;
}

.navbar img {
    max-width: 30%;
    min-width: 20%;
    height: auto;
    border-radius: 10%;
}

.moto {
    background-color: beige;
}

.moto h1 {
    padding-top: 1%;
    padding-left: 3%;
    color: #8a27ee;
    font-family: 'Monoton', cursive;
}

.moto h3 {
    font-family: 'Michroma', sans-serif;    
    padding-left: 3%;
    padding-bottom: 1%;
}

main img {
    border-radius: 5%
}

.carousels {
    display: flex;
    margin-right: 5%;
    margin-left: 5%;
    padding-bottom: 5%;
}

.upCarousel {
    text-align: center;
    margin: 1rem;
}

.trackCarousel {
    max-width: 30%;
    height: auto;
}

.artistCarousel {
    max-width: 30%;
    height: auto;
}

footer {    
    text-align: center;
}


/* ------------------------ Searcher ------------------------ */

.searchmoto {
    padding-left: 9%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: bold;    
}

#boxsearch {
    padding-left: 9%
}

.searchbuttons {
    padding-top: 1%;
    padding-left: 25%
}

audio {        
    padding-left: 3%;    
}


#resultbox {
    padding-top: 2%;
}

#resultbox p {    
    font-size: 2rem;
    padding-bottom: 1rem;
    
}

#otherartists {
    padding-top: 2%;    
    font-size: 1.5rem;    
}

#moreartists a {
    font-size: 1em;    
}

#moreartists a {
    font-size: 1em;
    padding: 1rem;    
}

/* ------------------------ About ------------------------ */