/* ------------------------ Common and home ------------------------ */
body {    
    background-color: darkgray;
    font-family: 'Poiret One', cursive;
    margin-bottom: 4%;
}

.navbar {
    font-size: 2rem;
}

.navbar img {
    max-width: 30%;
    min-width: 20%;
    height: auto;
    border-radius: 10%;
}

.moto {
    background-color: beige;
}

.moto h1 {
    padding-top: 1%;
    padding-left: 3%;
    color: #8a27ee;
    font-family: 'Monoton', cursive;    
}

.moto h3 {
    font-family: 'Michroma', sans-serif;    
    padding-left: 3%;
    padding-bottom: 1%;
}

.carousels {
    display: flex;
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
    padding-bottom: 5%;
}

.carousel img {
    border-radius: 20% 0%;
    max-width: 75%;
    height:auto;
    margin: 0 auto;
    
}

.upcarousels {
    text-align: center;
    padding: 1rem;    
    letter-spacing: 0.5rem;
    font-family: 'Poiret One', cursive;
    font-size: 3.5vw;
    font-weight: bold;
}

h2.upCarousel {
    font-size: 2.5vw;
    font-weight: bold;    
}

.trackCarousel {
    max-width: 30%;
    height: auto;
    font-family: 'Poiret One', cursive;
    letter-spacing: 0.5rem;     
}

.artistCarousel {
    max-width: 30%;
    height: auto;
    font-family: 'Poiret One', cursive;
    letter-spacing: 0.5rem;
}

.uplastfm {
    letter-spacing: 0.5rem;
    font-family: 'Poiret One', cursive;
    font-size: 3.5vw;
    font-weight: bold;
    text-align: center;
}

#lastfmcharts {
    display: flex;   
    text-align: center;
    align-items: flex-start;
    justify-content: center;
    
}

#lastfmcharts h2 {
    padding-bottom: 1rem;
    font-size: 2rem;   
    font-family: 'Poiret One', cursive;
}

#lastfmtopartists, #lastfmtoptracks {    
    padding: 5%;    
    padding-top: 3%;    
}

h2#lftopcharts {
    font-size: 3vw;
    font-weight: bold;
}

footer {    
    text-align: center;
}


/* ------------------------ Searcher ------------------------ */

.searchmoto {    
    padding-top: 3%;
    padding-bottom: 1%;
    font-weight: bold;
    letter-spacing: 1vw;    
}

.searchbuttons {
    padding-top: 1%;
}

audio {        
    padding-left: 3%;    
}

#resultbox {
    padding-top: 2%;
    text-align: justify;
}

#artistimage {
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 20% 0%;
}

#albumcover {
    padding-top: 5%;
    padding-bottom: 5%;    
}

#resultbox p {    
    font-size: 2rem;
    padding-bottom: 1rem;    
}

#resultbox .upalbumslist {    
    padding-top: 6%;    
}

#resultbox .uptracklist {    
    padding-top: 6%;    
}

#resultbox p.albums {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}

#resultbox p.tracks {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}

.upmoreartist {
    padding-top: 5%;
    padding-bottom: 3%;
}

.list-unstyled {
    padding-left: 8%;    
}

.media-body {
    font-size: 1.5vw;
}

.media-body h5 {
    font-size: 1.5vw;
}

/* ------------------------ About ------------------------ */

.uplogosbox {
    font-family: 'Michroma', sans-serif;   
    text-align: center;
    font-size: 2vw;
    padding-top: 1%;
    padding-bottom: 1%;
}

#apilogos {
    display: flex;
    justify-content: center;    
}

#deezerlogo {
    width: 15%;
    height: 25%;
    margin-right: 4%
}

#lastfmlogo {
    width: 12%;
    height: 20%;
    margin-left: 4%;    
}

.uptechlogos {
    text-align: center;
    font-family: 'Michroma', sans-serif;  
    font-size: 2vw;
    padding-top: 4%;
    padding-bottom: 1%;    
}

#techlogos {
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

#htmllogo {
    width: 8%;   
}

#csslogo {
    width: 6%;    
}

#jslogo {
    width: 6%;    
}

#bslogo {
    width: 6%;
}

.robthanks {
    text-align: center;
    padding-top: 5%;
    font-size: 1.5vw;
    font-weight: bold;
}